@page "/"
@using System.Text
@inject Services.GeneratorService generatorService;

<PageTitle>WwwToolTemplate</PageTitle>

<h1 class="text-center mt-2">WwwToolTemplate</h1>

<div class="row">
    <div class="col-6">
<textarea @bind=InitialData style="width: 100%;" rows="20"></textarea>
    </div>

    <div class="col-6">
<textarea @bind=ProcessedData style="width: 100%;" rows="20"></textarea>
    </div>
</div>

<div class="text-center mt-2">
    <button @onclick=Process class="btn btn-primary">Process</button>
</div>


